@{
    ViewData["Title"] = "Home Page";
}

<div class="page-wrapper">

    <my-app>
        <div style="width: 100px; height: 30px; position:relative; margin: 100px auto;">
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> Loading..
        </div>
    </my-app>

</div>


